@font-face {
    font-family: 'handpen';
    src: url('handpen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hilton';
    src: url('hilton.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variáveis de Cores */
:root {
    --primary-color: #003366;
    /* Rosa Blush */
    --secondary-color: #8da399;
    /* Verde Sálvia */
    --accent-color: #d4af37;
    /* Dourado */
    --text-color: #4a4a4a;
    --bg-light: #f5f5f5;
    --font-titles: 'handpen', serif;
    --font-body: 'hilton', sans-serif;
}

body {
    font-family: var(--font-body);
    color: var(--text-color);
    background-color: #fff;
    line-height: 1.6;
}

h2,
h3,
h4 {
    font-family: "Montserrat", serif;
    color: var(--primary-color);
    font-weight: 600;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    position: relative;
    color: white;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* Overlay escuro para destacar o texto */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-section h1 {
    font-size: 5rem;
    font-weight: 401;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.hero-section p {
    font-size: 1.5rem;
    word-spacing: 4px;
    font-family: var(--font-titles);
    font-weight: 300;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); */
}

/* Countdown */
.countdown-item {
    background: rgba(255, 255, 255, 0.2);
    font-family: var(--font-titles);
    word-spacing: 4px;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.countdown-item span {
    font-size: 1.8rem;
    font-weight: 700;
}

/* Section Titles */
.section-title {
    font-size: 2.5rem;
    font-family: var(--font-titles);
    color: var(--primary-color);
}

.title-divider {
    width: 80px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 15px auto 30px;
}

/* Cards */
.info-card,
.gift-card {
    background: var(--bg-light);
    font-family: var(--font-titles);
    font-weight: bolder;
    border-radius: 15px;
    border: 1px solid #eee;
    transition: transform 0.3s ease;
}

.info-card:hover,
.gift-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.info-card h3,
.gift-card h3 {
    font-family: var(--font-titles);
    font-weight: 700;
}

/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #3a573a;
    border-color: #132413;
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Scroll Indicator */
.scroll-indicator {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: bounce 2s infinite;
}

.scroll-indicator span {
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 2px;
    animation: pulse 1.5s infinite;
}

.mouse {
    width: 20px;
    height: 30px;
    border: 2px solid white;
    border-radius: 13px;
    position: relative;
}

.mouse::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 6px;
    background-color: white;
    border-radius: 2px;
    animation: mouseScroll 1.5s infinite;
}

@keyframes bounce {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes mouseScroll {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
}

/* Map Container and IFrame Styles */
.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    transition: box-shadow 0.3s ease;
}

.map-container:hover iframe {
    box-shadow: 0 12px 35px rgba(19, 36, 19, 0.2);
}

.rsvp-section {
    font-family: var(--font-titles);
}

.rsvp-section p {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.rsvp-section a{
    background-color: var(--primary-color);
}

.rsvp-section a:hover {
    background-color: #004487;
}

.btn-pix {
    text-decoration: none;
    font-family: var(--font-titles);
    color: #ffffff;
    padding: 10px 40px 10px 40px;
    background-color: #003366;
    border-radius: 10px;
    transition: .3s ease;
}

.btn-pix:hover {
    background-color: #004487;
    border-color: #003366;
    color: #fff;
}

.gift-section p{
    font-family: var(--font-titles);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.gift-section .gift-card h4{
    font-family: var(--font-titles);
    font-weight: 700;
    margin-bottom: 20px;
}

.gift-section .gift-card a{
    background-color: var(--primary-color);
    color:#ffffff;
}

.gift-section .gift-card a:hover {
    background-color: #004487; 
}

#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--font-titles);
    letter-spacing: 1px;
    text-align: center;
    border-radius: 50px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 3rem;
    }

    .countdown-item {
        padding: 10px;
    }

    .countdown-item span {
        font-size: 1.2rem !important;
    }

    .scroll-indicator {
        bottom: 20px;
    }

    .navbar-brand img {
        height: 45px;
    }

    .navbar .nav-link {
        margin-left: 15px;
        font-size: 0.85rem;
    }

    /* Mobile: esconder links e toggler; centralizar apenas a logo */
    .navbar .navbar-collapse,
    .navbar .navbar-nav,
    .navbar-toggler {
        display: none !important;
    }

    .navbar {
        justify-content: center;
        padding: 0.5rem 1rem;
    }

    .navbar-brand {
        margin: 0 auto;
        left: auto;
        transform: none;
        position: static;
        text-align: center;
        padding-left: 0;
    }

    /* Ensure the container uses flex and centers content on mobile */
    .navbar .container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

/* Navigation on Hero */
.navbar {
    background: transparent !important;
    background-color: transparent !important;
    z-index: 1030;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: none !important;
    border: none !important;
    font-family: var(--font-titles);
}

.navbar .navbar-brand,
.navbar .nav-link {
    background-color: #ffffff00;
    color: #fff !important;
}

.navbar-brand {
    position: relative;
    z-index: 2;
    margin-right: auto;
    /* push links to the right */
    padding-left: 0.5rem;
    text-align: left;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 100px;
    width: auto;
    object-fit: contain;
    margin-right: 10px;
}

.navbar .nav-link {
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s ease;
    margin-left: 25px;
}

.navbar .nav-link:hover {
    color: var(--accent-color) !important;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

footer{
    font-family: "Montserrat", serif;
    font-size: 0.8rem;
    font-weight: 550;
}

footer a{
    color: #132413;
    text-decoration: none;
    font-weight: 600;
}
